.container {
  height: 100%;
  background-color: #f5f5f5;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}
.container span {
  width: 84%;
  margin-top: 1em;
}
.iconsContainer {
  position: relative;
  top: 2em;
}
.iconsContainer:hover {
  background-color: rgba(165, 165, 165, 0.623);
  cursor: pointer;
  border-radius: 0.1em;
}
.icon {
  font-size: 1.5rem;
}
span {
  user-select: none;
}
