.container {
    text-align: center;
    background-color: #dadada;
    width: 50%;
    margin: 0 30% 0 34%;
    padding: 1em 0 1em 0;
    border-radius: 0 0 0.75em 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content {
    font-size: 1.5rem;
}
.author {
    background-color: rgba(0, 0, 0, 0.219);
    width: max-content;
    padding: 0.25em;
    border-radius: 0.25em;
    margin-top: 0.5em;
    font-size: 1rem;
}
